*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

body {
    height: 100vh;
    background-image: url("bilder/trees.jpeg");
    background-size: cover;
}

#bakgrunn {
    background-size: contain;
    position: relative;
    height: 100vh;

}

#eple {
    width: 40px;
    position: absolute;
    left: 50%;
}

#kurv {
    width: 150px;
    position: absolute;
    left: 50%;
    bottom: 10px;
}

#poengteller{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: white;
    font-family: "Press Start 2P";
    padding: 20px;
    color: darkgreen;
}
